@charset "utf-8";

/* ==========================================================================
      CSS Reset Code
   ========================================================================== */

/*  Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/*  Clear Fix ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* common styling */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.container { width: 100%; }

.wrapper {
  width: 65.7054%;
  margin: 0 auto;
  max-width: 1500px;
}

.fas { padding-right: 5px; }
body { font-family: Arial; }
ul li { list-style: none; }
img { width: 100%; }
.uppercase { text-transform: uppercase; }
.first-letter:first-letter { text-transform: capitalize; }
.block { display: block; }
.centre { text-align: center; }
.capitalize { text-transform: capitalize; }

.transition {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/* common class */
.section-header {
  margin-top: 62px;
  font-size: 33px;
  font-weight: 700;
  color: #454545;
}

.section-brief {
  margin-top: 14px;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #989898;
}

.employee-name {
  margin-top: 24px;
  color: #737373;
  font-size: 23px;
  font-weight: 800;
}

.employee-position {
  margin-top: 4px;
  display: inline-block;
  color: #737373;
  font-size: 18px;
  font-weight: 500;
}

.employee-details {
  padding:24px 4.69% 28px;
  color: #737373;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
/* HEADER */

header {
  padding: 36px 0;
  background-color: #fff;
}
header .wrapper {
  width: 90.046%;
  margin: 0 auto;
}

h1 {
  width: 20.21%;
  display: inline-block;
}

h1 a {
  text-indent: -9999px;
}

h1 img {
  width: 100%;
  float: right;
}

.ham,
.cross-nav {
  display: none;
}

.hamburger {
  float: right;
}

nav {
  float: right;
}

nav li {
  display: inline-block;
}

nav li a {
  width: 100%;
  font-size: 18px;
  color: #4f4f4f;
  font-weight: 500;
  padding: 12px 14px;
}

nav li a:hover {
  background-color: #00ba9c;
  color: #b4e6de;
}


/* portfolio */
.portfolio {
  padding-bottom: 87px;
  background-color: #fff;
  text-align: center;
}

.portfolio .wrapper {
  width: 87.23%;
  margin: 0 auto;
}

.designs-menu {
  margin-top: 58px;
}

.designs-menu li {
  display: inline-block;
}

.designs-menu span {
  padding: 20px 16px 14px;
  margin-right: 19px;
  display: inline-block;
  background-color: #1bbc9b;
  cursor: pointer;
  color: #edf6f5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.designs-menu li:last-child span {
  margin-right: 0;
}

.designs-menu span:hover {
  background-color: #1bff9f;
}

.designs-example {
  margin-top: 14px;
}

.designs-example li {
  position: relative;
  width: 19.345%;
  margin-right: 7.54%;
  margin-top: 52px;
  float: left;
}

.designs-example li:nth-child(4n) {
  margin-right: 0;
}

.design-details {
  widows: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.8s;
}

.design-details a {
  text-indent: -9999px;
}

.design-details a::before {
  content: '\f002';
  padding: 17px;
  float: right;
  background-color: #496f62;
  color: #fff;
  border-radius: 50px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-indent: 0;
  font-size: 23px;
}

.design-details-title {
  margin-top: 30px;
  color: #f9fCfb;
  font-size: 20px;
}

.design-details-branch {
  margin-top: 16px;
  display: inline-block;
  color: #f1f6f4;
  font-size: 18px;
}


.designs-example li:hover .design-details {
  opacity: 1;
}

.designs-example li:hover {
  opacity: 0.5;
}

/* about us */

.about-us {
  padding: 82px 0 107px;
  background-color: #16a086;
  text-align: center;
}

.about-us .wrapper {
  width: 76.66%;
  margin: 0 auto;
}

.about-us .section-header {
  color: #f9fcfb;
}

.about-us .section-brief {
  color: #cae6e1;
}

.about-us .wrapper > ul > li {
  width: 28.22%;
  margin-top: 54px;
  float: left;
  position: relative;
  background-color: #fff;
}

.about-us .wrapper > ul > li:nth-child(2) {
  margin:54px 7.66% 0;
}

.profile-container {
  width: 100%;
}

.profile-container img {
  width: 100%;
}

.employee {
  position: relative;
}

.employee-social-links {
  width: 81.22%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.employee:hover .employee-social-links {
  opacity: .8;
  transition: all 0.8s;
}

.employee-social-links {
  opacity: 0;
}

.employee-social-links > ul {
  background-color: #009783;
}

.employee-social-links li {
  display: inline-block;
}

.employee-social-links li a {
  text-indent: -9999px;
}

.employee-social-links li a::before {
  padding: 10px 12.88% 10px;
  float: right;
  color: #FEFEFE;
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
  font-size: 33px;
}

.employee-social-links li:nth-child(1) a::before {
  content: '\f39e';
}
.employee-social-links li:nth-child(2) a::before {
  content: '\f099';
}
.employee-social-links li:nth-child(3) a::before {
  content: '\f0d5';
}
.employee-social-links li:nth-child(4) a::before {
  content: '\f17d';
}


/* contact-us */

.contact-us {
  padding-bottom: 76px;
  background-color: #ebeff0;
  text-align: center;
}

.contact-us .wrapper {
  width: 90.046%;
  margin: 0 auto;
}

.contact-us-form,
.information {
  box-sizing: border-box;
  width: 49%;
  margin-top: 66px;
  display: inline-block;
  vertical-align: top;
  margin-right: calc(2% - 5px);
}

.information {
  margin-right: 0;
  text-align: left;
}

.contact-us-form input[type=text],
.contact-us-form input[type=email] {
  box-sizing: border-box;
  width: 47.5%;
  border: 2px solid #bcc2c5;
  padding: 16px 0 16px 14px;
}

.contact-us-form input[type=text] {
  margin-right: calc(5% - 5px);
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 182px;
  padding: 16px 0 0 13px;
  border: 2px solid #bcc2c5;
  margin-top: 26px;
  resize: none;
}

.contact-us-form input[type=submit] {
  padding: 15px 36px 10px 36px;
  border: none;
  margin-top: 25px;
  float: right;
  background-color: #00ba9c;
  font-size: 20px;
  color: #f5fbfa;
  outline: none;
  transition: all 0.8s;
}

.contact-us-form input[type=submit]:hover {
  background-color: #00bccb;
}

.information h4 {
  font-size: 20px;
  color: #6c6d6d;
  font-weight: 800;
}

.information address,
.information a {
  margin-top: 18px;
  display: block;
  color: #6c6d6e;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
}

.information span {
  display: block;
  width: 100%;
  padding-left: 15px;
}

.information span:first-child {
  padding-left: 0;
}

.information address span:first-child::before {
  content: '\f3c5';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding-right: 3px;
}

.information a:nth-child(3)::before {
  content: '\f098';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  transform: rotate(180deg);
  padding-right: 3px;
}

.information a:nth-child(4)::before {
  content: '\f1ac';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding-right: 3px;
}

.information a:nth-child(5)::before {
  content: '\f0e0';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding-right: 3px;
}

.information a:nth-child(3):hover,
.information a:nth-child(4):hover,
.information a:nth-child(5):hover {
  text-decoration: underline;
}

/* footer */
footer {
  background-color: #2d4150;
  padding: 26px 0;
}

footer .wrapper {
  width: 90.046%;
  margin: 0 auto;
}

footer .copyright {
  margin-top: 21px;
  display: inline-block;
  color: #ecedef;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .4px;
}

.copyright span:first-child::after {
  content: ' | ';
}

.top-button {
  float: right;
}

.top-button span {
  cursor: pointer;
  display: inline-block;
  text-indent: -9999px;
}


.top-button span::before {
  content: '\f106';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 36px;
  background-color: #00BA9C;
  color: #fefefe;
  text-indent: 0;
  float: right;
  padding: 6px 14px;
}

/* media queries starts here */

@media only screen and (max-width: 1023px) {
  nav {
      display: none;
  }

  .ham,
  .cross-nav {
    display: block;
    position: absolute;
    top: 36px;
    right: 5px;
    color: #000;
  }

  .cross-nav {
    top: 0;
  }

  .hamburger:hover nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #00ba9c;
  }

  .hamburger:hover nav li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #000;
    text-align: center;
  }

  .hamburger:hover nav li:last-child { border-bottom: 0; }
  .login li:first-child { border-left: none; }
  .header-right { margin-top: 36px; }

  /* portfolio */
  .designs-menu li {
    width: 40%;
    margin-top: 5px;
    display: block;
  }

  .designs-example li {
    width: 39%;
    display: inline-block;
    margin-right: 0;
    float: none;
  }

  .designs-example li:nth-child(2n - 1) {
    margin-right: calc(10% - 5px);
  }

  .about-us .wrapper > ul > li {
    display: block;
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .about-us .wrapper ul > li:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
  }

  /* contact-us */
  .contact-us-form,
  .information {
    width: 100%;
    display: block;
    margin-right: 0;
  }
}

@media only screen and (max-width: 520px) {
  /* portfolio */

  .designs-example li {
    width: 100%;
    display: block;
    float: none;
  }

  .designs-example li:nth-child(2n - 1) {
    margin-right: calc(10% - 5px);
  }
}
